node-red/flows.json
[{"id":"cccb5efe7a900049","type":"tab","label":"Spinani panelu 270W","disabled":true,"info":"","env":[]},{"id":"f6a134de2fd8de92","type":"tab","label":"Notifikace","disabled":false,"info":"","env":[]},{"id":"bf0c55caf7bc8c30","type":"tab","label":"Own Wattrouter with Battery","disabled":false,"info":"","env":[]},{"id":"d05c5daf.94117","type":"server","name":"Home Assistant","addon":true},{"id":"bae0e691567a82d2","type":"server-state-changed","z":"cccb5efe7a900049","name":"whenForcastIsHigherThan500W","server":"d05c5daf.94117","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.power_production_now","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"500","halt_if_type":"num","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":80,"wires":[[],[]]},{"id":"07cb3f3113ddff83","type":"api-call-service","z":"cccb5efe7a900049","name":"Rele270W","server":"d05c5daf.94117","version":5,"debugenabled":true,"domain":"switch","service":"turn_on","areaId":["pojistkova_skrin"],"deviceId":["5906207c21be5c20e73bfddbf5157d54"],"entityId":["switch.relay1"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":470,"y":380,"wires":[["ed8a507bbfee2305"]]},{"id":"ed8a507bbfee2305","type":"delay","z":"cccb5efe7a900049","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":600,"y":460,"wires":[["1cc1b29b13bdcb30"]]},{"id":"1cc1b29b13bdcb30","type":"api-current-state","z":"cccb5efe7a900049","name":"isConsumptionAbove270","server":"d05c5daf.94117","version":3,"outputs":2,"halt_if":"270","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.2_shelly_em_channel_1_power","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":750,"y":540,"wires":[["6c3def3e31b8903b"],["b80c89f0c9e58b67"]]},{"id":"6c3def3e31b8903b","type":"api-call-service","z":"cccb5efe7a900049","name":"turnOffRele270W","server":"d05c5daf.94117","version":5,"debugenabled":true,"domain":"switch","service":"turn_off","areaId":["pojistkova_skrin"],"deviceId":["5906207c21be5c20e73bfddbf5157d54"],"entityId":["switch.relay1"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1010,"y":500,"wires":[[]]},{"id":"b80c89f0c9e58b67","type":"api-call-service","z":"cccb5efe7a900049","name":"turnOnRele270W","server":"d05c5daf.94117","version":5,"debugenabled":true,"domain":"switch","service":"turn_on","areaId":["pojistkova_skrin"],"deviceId":["5906207c21be5c20e73bfddbf5157d54"],"entityId":["switch.relay1"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1010,"y":580,"wires":[["dabce6dd7633c634"]]},{"id":"14627401340c3cec","type":"api-current-state","z":"cccb5efe7a900049","name":"isConsumptionLowerThan50W","server":"d05c5daf.94117","version":3,"outputs":2,"halt_if":"50","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.2_shelly_em_channel_1_power","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":350,"y":300,"wires":[["07cb3f3113ddff83"],["6c3def3e31b8903b"]]},{"id":"dabce6dd7633c634","type":"api-call-service","z":"cccb5efe7a900049","name":"NotifikaceS20PanelZapnut","server":"d05c5daf.94117","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_filip_s20fe","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"message\": \"Panel zapnut\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1260,"y":580,"wires":[[]]},{"id":"a1df21b4ff4dff36","type":"server-state-changed","z":"cccb5efe7a900049","name":"VoltageOnPanels","server":"d05c5daf.94117","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.dc_voltage","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"60","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":140,"wires":[[],[]]},{"id":"b2fa87d4d551b0ff","type":"debug","z":"cccb5efe7a900049","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":180,"wires":[]},{"id":"d00f5db4d630c652","type":"api-current-state","z":"cccb5efe7a900049","name":"","server":"d05c5daf.94117","version":3,"outputs":2,"halt_if":"45","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.dc_voltage","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":320,"y":220,"wires":[["14627401340c3cec"],["b2fa87d4d551b0ff"]]},{"id":"7d4e61634f5e7c76","type":"inject","z":"cccb5efe7a900049","name":"Every10s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":220,"wires":[["d00f5db4d630c652"]]},{"id":"027ab59adff01abf","type":"inject","z":"f6a134de2fd8de92","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":140,"wires":[["1bfa162761c68a32"]]},{"id":"56cd23ef502a810b","type":"debug","z":"f6a134de2fd8de92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":220,"wires":[]},{"id":"892795afd2d422eb","type":"inject","z":"f6a134de2fd8de92","d":true,"name":"EveryDayAt8PM","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 20 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":420,"wires":[["1bfa162761c68a32"]]},{"id":"09a43be47ace5097","type":"api-call-service","z":"f6a134de2fd8de92","name":"NotifikaceS20DnesniProdukce","server":"d05c5daf.94117","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_filip_s20fe","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": \"Dnešní produkce\",\t    \"message\": $string(payload, prettify)\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":830,"y":420,"wires":[[]]},{"id":"1bfa162761c68a32","type":"api-current-state","z":"f6a134de2fd8de92","name":"ProtuctionToday","server":"d05c5daf.94117","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.total_production_today_2","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":550,"y":420,"wires":[["09a43be47ace5097","56cd23ef502a810b","a069ad66937d37c5"]]},{"id":"a069ad66937d37c5","type":"api-call-service","z":"f6a134de2fd8de92","name":"NotifikaceRealmeDnesniProdukce","server":"d05c5daf.94117","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_emil_realme_rmx2155","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": \"Koukej kolik jsem dneska vyrobil\",\t    \"message\": $string(payload, prettify)\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":500,"wires":[[]]},{"id":"532da2e101fa0cc4","type":"server-state-changed","z":"f6a134de2fd8de92","name":"","server":"d05c5daf.94117","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.dc_voltage","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"0","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":240,"y":680,"wires":[["1bfa162761c68a32","beb270b3e52790e8"],[]]},{"id":"beb270b3e52790e8","type":"api-current-state","z":"f6a134de2fd8de92","name":"","server":"d05c5daf.94117","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.battery_voltage","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":610,"y":680,"wires":[[]]},{"id":"c695c264eb3b323d","type":"api-current-state","z":"bf0c55caf7bc8c30","name":"array_power < sensor.output_power_prumer_5min_2","server":"d05c5daf.94117","version":3,"outputs":2,"halt_if":"sensor.output_power_prumer_5min_2","halt_if_type":"entity","halt_if_compare":"lt","entity_id":"sensor.pv_array_input_power","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":360,"y":260,"wires":[["33ffdbdbc08b430a"],["33ffdbdbc08b430a"]]},{"id":"402df543033353b6","type":"api-call-service","z":"bf0c55caf7bc8c30","name":"odepni rele1  300 W","server":"d05c5daf.94117","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":["pojistkova_skrin"],"deviceId":["5906207c21be5c20e73bfddbf5157d54"],"entityId":["switch.relay1"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1380,"y":340,"wires":[[]]},{"id":"4ac8d62b4517d973","type":"switch","z":"bf0c55caf7bc8c30","name":"Odepni podlahu","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"300","vt":"str"},{"t":"lt","v":"450","vt":"str"},{"t":"lt","v":"860","vt":"str"},{"t":"lt","v":"2000","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1100,"y":420,"wires":[["402df543033353b6"],["e7ebd183254ecc3f"],["bfdb26d0679f7962"],["9c6c0b248bd26a62"]]},{"id":"7c1faf370ecd81b1","type":"function","z":"bf0c55caf7bc8c30","name":"ROZDIL hodnot output_power_prumer - array_power (kolik jde z baterie)","func":"msg.payload = msg.payload.output_power_prumer - msg.payload.array_power;\n\nreturn msg.payload;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":420,"wires":[["4ac8d62b4517d973"]]},{"id":"bfdb26d0679f7962","type":"api-call-service","z":"bf0c55caf7bc8c30","name":"odepni rele3  860W","server":"d05c5daf.94117","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":["pojistkova_skrin"],"deviceId":["5906207c21be5c20e73bfddbf5157d54"],"entityId":["switch.relay3"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1370,"y":460,"wires":[[]]},{"id":"9c6c0b248bd26a62","type":"api-call-service","z":"bf0c55caf7bc8c30","name":"odepni rele4 2000 W","server":"d05c5daf.94117","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":["pojistkova_skrin"],"deviceId":["5906207c21be5c20e73bfddbf5157d54"],"entityId":["switch.relay1"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1380,"y":520,"wires":[[]]},{"id":"e7ebd183254ecc3f","type":"api-call-service","z":"bf0c55caf7bc8c30","name":"odepni rele2  450W","server":"d05c5daf.94117","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":["pojistkova_skrin"],"deviceId":["5906207c21be5c20e73bfddbf5157d54"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1370,"y":400,"wires":[[]]},{"id":"df061cd5b5ed4d5a","type":"comment","z":"bf0c55caf7bc8c30","name":"Jak zjistit jako podlahu vypnout","info":"pode potreba pouzit podminku jelikoz ","x":1010,"y":260,"wires":[]},{"id":"223c3bebe8830dfe","type":"server-state-changed","z":"bf0c55caf7bc8c30","name":"","server":"","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":370,"y":180,"wires":[[]]},{"id":"6fcbab9d8ddb278d","type":"inject","z":"bf0c55caf7bc8c30","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":180,"wires":[["c695c264eb3b323d"]]},{"id":"33ffdbdbc08b430a","type":"debug","z":"bf0c55caf7bc8c30","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":140,"wires":[]}]